html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    /* font-family: "Droid Sans", sans-serif; */
}

div {
    text-align: center;
}

::-webkit-scrollbar {
    width: 8px;
    height: 0px;
} 

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5); 
}

.page {
    background-color: #FFF;
    display: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;   
}

.wrapper {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.popup {
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.box {
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    color: #FFF;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popup .box {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

textarea:focus, input:focus{
    outline: none;
}

.box button {
    width: 150px;
    height: 35px;
    margin: 5px;
}

.box input[type=text] {
    width: 350px;
    height: 25px;
    margin: 5px;
}

.box input[type=password] {
    width: 350px;
    height: 25px;
    margin: 5px;
}

.box input[type=submit] {
    width: 150px;
    height: 35px;
    margin: 5px;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#game-board {
    user-select: none;
    display: none;
    height: 100%;
    width: 100%;
}

#login-page {
    display: none;
}

#login-wrapper {
    display: block;
}

.error {
    color: rgb(212, 68, 68);
    display: block;
    height:auto;
    width:100%;
    text-align: center;
}

#room-chat-content {
    width: 70%;
}

.content {
    width: 100%;
}

.username {
    display: block;
    color: yellow;
}

.msg {
    display: block;
    flex: 1 0 auto;
    width:100px;
    word-wrap: break-word;
    white-space: initial;
    text-align: left;
}

.message-count {
    color: #fff;
    display: inline;
    position: absolute;
    font-weight: 900;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
}

.username span {
    color: #bbb;
}

#leaderboard {
    min-width: 60%;
}

#leaderboard div{
    grid-template-columns: minmax(200px, 75fr) minmax(100px, 25fr);
    line-height: 30px;
}

.scrollable {
    max-height: 250px;
    max-width: 90%;
    padding: 5px;
    overflow: auto;
}

.option {
    display: inline;
    margin: 0px 5px !important;
    font-weight: 900;
	cursor: pointer;
    user-select: none;
}

.option div {
    display: inline;
    margin: 0px;
    font-weight: 900;
	cursor: pointer;
    user-select: none;
}

.state {
    margin-left: 5px;
    height: 8px;
    width: 8px;
    position: relative;
    left: -3px;
    border-radius: 50%;
    display: inline-block;
}

.offline {
    background-color: #aaa;
}

.online {
    background-color: #4CAF50;
}

.inRoom {
    background-color: #ebee4f;
}

.queue {
    background-color: #e4a24d;
}

.playing {
    background-color: #5c5ff5;
}

#private-chat-content {
    min-width: 50%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

#battlelog {
    width: 80%;
    white-space: nowrap;
}

#battlelog div{
    grid-template-columns: minmax(200px, 35fr) minmax(200px, 35fr) minmax(75px, 9fr) minmax(75px, 9fr) minmax(100px, 12fr);
    line-height: 30px;
}

.grid-container {
    display: grid;
}

.grid-container div{
    overflow: auto;
    padding: 2px;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.grid-container > div:first-child {
    border-left: none;
}

div > div.grid-container:last-child > div{
    border-bottom: none;
}

.title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 800;
}

.prompt {
    display: none;
    color:rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

.prompted-input:focus + .prompt {
    display: block;
}

.list {
    min-width: 50%;
}

.list span{
    color: #bbb;
    text-align: center;
}

.list div {
    border: none;
    text-align: left;
    grid-template-columns: minmax(200px, 75fr) minmax(100px, 25fr);
}

.list .optionBox {
    text-align: right;
}

.load-container {
	margin: auto;
    width: 110px;
	height: 120px;
}

.loader {
    position: absolute;
	margin: auto;
	border-radius: 100%;
	border: 15px solid rgba(0, 0, 0, 0);
	border-top: 15px solid #bdbdbd;
	width: 80px;
	height: 80px;
}

.a1 {
	-webkit-animation: spin1 1.25s linear infinite;
	        animation: spin1 1.25s linear infinite;
}

.a2 {
	-webkit-animation: spin2 1.25s linear infinite;
	        animation: spin2 1.25s linear infinite;
}

.a3 {
	-webkit-animation: spin3 1.25s linear infinite;
	        animation: spin3 1.25s linear infinite;
}

@-webkit-keyframes spin1 {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(60deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(150deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(150deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin3 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(240deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(240deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#images {
    display: none;
}

.player {
    display: inline-block;
    width: 50%;
}

.your-turn {
    background-color: rgb(240, 240, 128);
    color: #000;
}

.opponent-turn {
    background-color: rgb(240, 128, 128);
    color: #000;
}

#stats-update {
    margin: auto;
}

@media (max-width:768px) {

.box input[type=text] {
    width: 200px;
}

.box input[type=password] {
    width: 200px;
}

.input-box {
    display: block !important;
}

.input-box input[type=text] {
    width: 90% !important;
}

.input-box input[type=password] {
    width: 90% !important;
}

}